* {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: Arial;
}

.header {
   text-align: center;
   height: 120px;
   background-image: linear-gradient(
      to right bottom,
      rgba(0, 0 ,0, 0.2), 
      rgb(255, 255, 255)),
      url('/img/header.jpg');
   background-size: cover;
   background-position: left;
   background-repeat: no-repeat;

}

.header-text {
   padding-top: 40px;
   font-size: 2rem;
}

#images {
   display: -ms-flexbox; /* IE10 */
   display: flex;
   -ms-flex-wrap: wrap; /* IE10 */
   flex-wrap: wrap;
   padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
   -ms-flex: 25%; /* IE10 */
   flex: 25%;
   max-width: 25%;
   padding: 0 4px;
}

.image {
   margin-top: 8px;
   vertical-align: middle;
   width: 100%;
   height: auto;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
   .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
   }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
   .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
   }
}